<div class="well">
	<h2>Quick Links</h2>
		<%= link_to image_tag("Follow-us-Twitter-icon.jpg", :alt => "rss feed"), "https://twitter.com/#!/terlimws" %>
		<%= link_to image_tag("facebook.png", :alt => "rss feed"), "http://www.facebook.com/islandcreamery" %>
	</ul>
</div>